<div class="content">
	<div class="title">
		<img src="https://www.google.com/images/srpr/logo11w.png" height="95px" width="269px">
	</div>
	<div class="content-box">
		<form action="#" method="POST">
			<ul>
				<li>
					<input id="input-box" type="text">
					<div class="voice-img">
						<img src="download.gif" height="28px" width="28px">
					</div>
				</li>
				<li>
					<div class="buttons">
						<input id="button1" type="submit" value="Google Search">
						<input id="button2" type="submit" value="I'm Feeling Lucky">
					</div>
				</li>
			</ul>
		</form>
	</div>
</div>